.page {

  &-hero {
    width: 100%;
    height: 40vw;
    max-height: 450px;
    position: relative;
    background-size: cover;
    background-position: center center;
    background-color: $colorgreymedium;

    @media screen and (max-width: map-get($breakpoints, 'phone')) {
      height: 55vw;
    }

    &-title {
      position: absolute;
      left: 50%;
      bottom: 5%;
      transform: translateX(-50%);
      width: auto;
      max-width: 90%;
      margin: 10px 0 3% 0;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 1px 1px 20px 1px #000;
      background-color: #fff;
      border-radius: 2rem;

      h1 {
        color: $colorprimary;
        margin: 0;
        padding: 2rem;
      }
    }
  }
}