* {
  box-sizing: border-box;
}

ul, ol {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

figure {
  margin: inherit;
}

.text {

  &-center {
    text-align: center;
  }

  &-left {
    text-align: left;
  }
}

.background-color {

  &--black {
    background-color: $colorblack;
  }

  &--darkgrey {
    background-color: $colorgreydark;
  }

  &--darkgreyt {
    background-color: $colorgreydarkt;
  }

  &--mediumgreyt {
    background-color: $colorgreymediumt;
  }

  &--mediumgreytlight {
    background-color: $colorgreymediumtlight;
  }

  &--tertiary {
    background-color: $colortertiary;
  }
}

.width-160--px {

  max-width: 160px;
  margin: 0 auto;
}

.push-left {
  margin-right: 4rem;
}

.push-right {
  margin-left: 4rem;
}

.wp-block-image {

  img {
    height: auto;
  }
}

figure {
  margin-left: 0;
  margin-right: 0;
}

.wp-block-embed {

  &.aligncenter {
    text-align: center;

    &.is-type-video {

      iframe {
        box-shadow: 5px 5px 10px #444;
      }
    }
  }
}