# ignore all .DS_Store files

.DS_Store
.php_cs.cache
node_modules/

# ignore everything in root except readme, gitignore, and package.json
/*
!readme.md
!.gitignore
!package.json

# travel to child theme
!wp-content/
wp-content/*
!wp-content/themes/
wp-content/themes/*
!wp-content/themes/grace_family_theme
!wp-content/themes/grace_family_theme-child
!wp-content/themes/grace_family_starter

# travel to plugins
!wp-content/plugins/
wp-content/plugins/*
!wp-content/plugins/gfc_settings
