#footer {

  &_wrapper {
    background-color: $colorgreydark;
  }

  &_container {

    max-width: 1160px;
    margin: 0 auto;
  }

  &_menu {
    display: flex;
    align-items: center;
    margin-left: -2rem;
    margin-right: -2rem;

    li {
      list-style: none;
      padding: 2rem;

      a {
        color: #fff;
        font-size: 16px;

        &:hover {
          color: $colorsecondary;
        }
      }

      img {
        max-height: 50px;
      }
    }
  }
}

#back-to-top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 1000;
  background-color: $colorgreymediumt;
  color: #fff;
  border: none;
  padding: .5rem 1.5rem;
  font-size: 3.4rem;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #333;
  transform: translateY(10rem);
  transition: transform ease .3s;
}

body.scrolled {

  #back-to-top {
    transform: translateY(0);
  }
}

#footer-social_wrapper {
  display: flex;
  justify-content: space-around;
  max-width: 600px;
  margin: 0 auto;

  figure {
    width: 100px;
    height: 100px;
    background-color: $colorprimary;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: auto;
      height: 50px;
    }
  }
}

#footer-contact {

  .wp-block-group__inner-container {
    width: 100%;
    display: flex;
    margin-left: -1rem;
    margin-right: -1rem;

    & > * {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
}