.header_wrapper {
  position: fixed;
  top:0;
  width:100%;
  z-index: 1000;
  background-color: transparent;
  transition: background-color ease .3s, padding ease .3s;
}

.header_container {
  position: relative;

  @media screen and (max-width: (map-get($breakpoints, 'tablet'))) {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
  }
}

.main-nav_wrapper {
  display: none;

  @media screen and (min-width: (map-get($breakpoints, 'tablet') + 1)) {
    display: block;
  }

  &--mobile {
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    max-width: 300px;
    background-color: $colorprimary;
    border-left: 2px solid $colorgreymedium;
    box-shadow: -1px 0px 3px #333;
    transform: translateX(150%);
    transition: transform ease .3s;

    &.show {
      transform: translate(0);
    }
  }
}

#live-countdown_seconds, #live-countdown_minutes--comma {
  @media screen and (max-width: map-get($breakpoints, 'phone')) {
    display: none;
  }
}

.main-nav_container {
  display: flex;
  align-items:top;
  font-size: 2rem;
  max-width: 1160px;
  margin: 0 auto;
  padding:1rem 2rem;

  li {
    list-style:none;
    flex-grow:1;
    margin-top: .5em;
    margin-bottom: .5em;
    text-align: center;
    flex-basis: 0;
    order: 1;

    &.left-side {

      &--odd {
        flex-grow: 1.5;
      }

      &.push-left {
        margin-right: 6rem;
      }
    }

    &.right-side {

      &.push-right {
        margin-left: 6rem;
      }
    }

    @media screen and (max-width: map-get($breakpoints, 'phone')) {
      display: none;
    }

    &#nav-email {
      @media screen and (max-width: map-get($breakpoints, 'phone')) {
        display: block;
      }
    }

    a {
      font-size: .8em;
      padding: .5em;
      color: #fff;
      text-decoration: none;

      &:hover {
        color: $colorsecondary;
        text-decoration: underline;
      }
    }
  }

  .menu-item-has-children {
    position: relative;

    &:hover {
      > a {
        text-decoration: underline;
        color: $colorsecondary;
      }

      .sub-menu {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }

  .sub-menu {
    position: absolute;
    opacity: 0;
    white-space: nowrap;
    pointer-events: none;
    opacity: 0;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    transition: opacity ease .3s;
  }

  &--mobile {

    li {
      list-style: none;
      padding: 1rem;

      a {
        color: #fff;
      }
    }
  }
}

#main-logo {

  &_wrapper {
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    display: none;

    @media screen and (min-width: (map-get($breakpoints, 'tablet') + 1)) {
      display: block;
    }

    &--mobile {
      display: block;

      @media screen and (min-width: (map-get($breakpoints, 'tablet') + 1)) {
        display: none;
        position: absolute;
        top: 1.5rem;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  &_container {
    height: 100%;
    position: relative;

    &--mobile {
      @extend #main-logo_container;
    }
  }

  &_image {
    width: 14rem;

    &--mobile {
      width: 12rem;
    }
  }
}

#main-nav {

  &_toolbar {

    &_wrapper {
      background-color: $colorgreymediumt;
      padding:1rem;
    }

    &_menu {
      display: flex;

      & > li {
        flex-grow: 1;
        list-style: none;
        flex-grow: 1;

        &:nth-child(2) {
          flex-grow: 0;
          flex-basis: 370px;
        }
      }
    }

    &_heading {
      font-size: 14px;
      margin: 0;
      font-weight: bold;
      color: #fff;

      .live-countdown {
        font-weight: normal;
        color: #fff;

        &_seconds {
          @media screen and (max-width: map-get($breakpoints, 'phone')) {
            display: none;
          }
        }
      }
    }
  }

  &_aux {

    &--mobile {
      display: flex;
      align-items: center;
      margin-left: -1rem;
      margin-right: -1rem;

      @media screen and (min-width: (map-get($breakpoints, 'tablet') + 1)) {
        display: none;
      }
    }
  }

  &_toggle {
    background: none;
    border: none;
    font-size: 1.8rem;
    color: $colorprimary;
    transition: color ease .3s;
    padding-left: 1rem;
    padding-right: 1rem;

    &:hover {
      color: #000;
      text-decoration: underline;
    }

    &--mobile {
      margin: 1rem;
    }
  }

  &_give {
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    transition: color ease .3s;
    display: inline-block;
    padding: .4rem 1.4rem;

    &--wrapper {
      background-color: $colorprimary;
      border: 2px solid $colorprimary;
      border-radius: 5px;
      transition: background-color ease .3s;
      margin-left: 1rem;
      margin-right: 1rem;

      &:hover {
        background-color: #fff;

        a {
          color: $colorprimary;
        }
      }
    }
  }
}

body.scrolled {

  #main-nav_toolbar_wrapper {
    display: none;
  }

  .main-nav_wrapper {
    background-color: #fff;
    padding: 5px 0;
    box-shadow: 1px 1px 1px #ebebeb;
  }

  .main-nav_container {

    li {

      a {
        color: $colorprimary;

        &:hover {
          color: #000;
        }
      }
    }
  }

  #main-logo_wrapper {
    display: none;

    &--mobile {
      display: block;
    }
  }

  .menu-item-has-children {

    &:hover {

      > a {
        text-decoration: underline;
        color: $colorprimary;
      }
    }
  }

  .sub-menu {
    background-color: #fff;
    padding: 1rem;
    box-shadow: 1px 1px 1px #333;
  }
}