.page-section {

  &_wrapper {
    width: 100%;
    position: relative;

    h1, h2, h3, h4, h5, h6 {
      margin-bottom: 0;
    }

    &--bgcolor, &.has-background {
      padding-top: 4rem;

      .page-section_container {

        & > *:first-child {
          margin-top: 0;
        }
      }
    }

    &.background-color {

      &--black, &--darkgrey {

        h1, h2, h3, p {
          color: #fff;
        }
      }

      &--tertiary {

        .page-section_container > * {
          color: $colorblack;
        }
      }
    }

    &.page-section_wrapper--bgimage {
      background-size: cover;
      background-position: center center;

      h1, h2, h3, h4, h5, h6, p {
        text-shadow: 1px 1px 1px #333;
      }
    }

    &.page-section_wrapper--bgcolor, &.page-section_wrapper--bgimage, &.has-background {

      & > .page-section_container {

        & > .columns_container:first-child, & > .wp-block-columns:first-child {

          & > .column, & > .wp-block-column {

            & > *:first-child {

              margin-top: 0;
            }
          }
        }
      }
    }
  }

  &_container {
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 2rem 4rem 2rem;

    & > * {
      margin-top: 4rem;
      margin-bottom: 0;
    }

    & > a {
      display: inline-block;
    }

    &--min {
      
      max-width: 720px;
    }
  }

  &_overlay {
    position:absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;

    & + .page-section_container {

      > * {
        position:relative;
      }
    }
  }
}

.columns_container, .wp-block-columns {
  margin-left: -2rem;
  margin-right: -2rem;
  display: flex;
  margin-top: 0;

  @media screen and (max-width: map-get($breakpoints, 'phablet')) {
    flex-wrap:wrap;
  }

  &--2 {
    
    &--equal {

      .column, .wp-block-column {
        flex-basis: 50%;

        @media screen and (max-width: map-get($breakpoints, 'phablet')) {
          flex-basis: 100%;
        }
      }
    }
  }
}

.wp-block-column {
  flex-grow: 1;
  flex-basis: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
}

.wp-block-column {

  > * {
    margin-top: 4rem;
    margin-bottom: 0;
  }
}