html {
  font-size: 62.5%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $fontprimary;
  color: $colorprimary;
}

h1 {
  @include fluid-type('phone', 'desktop', 24px, 40px);
}

h2 {
  @include fluid-type('phone', 'desktop', 22px, 35px);
}

h3, .wpforms-title {
  @include fluid-type('phone', 'desktop', 20px, 30px);
}

h4 {
  @include fluid-type('phone', 'desktop', 18px, 25px);
}

p, ul, ol, a, button, input, textarea, label, select {
  font-family: $fontsecondary;
  color: $colorblack;
  @include fluid-type('phone', 'desktop', 16px, 20px);
}

a {
  text-decoration: underline;
  color: $colorprimary;
  transition: color ease .3s;

  &:hover {
    $color: $colorsecondary;
  }
}

.page-section_title {
  text-align: center;
}

.has-white-color {
  color: #fff;
}


.is-style {

  &-has-shadow {

    &--grey {
      text-shadow: 1px 1px 1px #333;
    }
  }
}

.wpforms-title {
  font-family: $fontprimary;
  color: inherit;
}

.wpforms-field-description {
  font-family: $fontsecondary;
  font-size: 16px;
}

.wpforms-form button[type=submit] {
  font-size: 18px !important;
}