.button {

  &_container {

    display: inline-block;
    border-radius: 5px;

    a {
      text-decoration: none;
      padding: 1.5rem 4rem;
      display: inline-block;
      border-radius: 5px;
      transition: background-color ease .3s, color ease .3s;
    }

    &--color-primary {
      border: 2px solid $colorprimary;

      a {
        background-color: $colorprimary;
        color: #fff;

        &:hover {
          background-color: #fff;
          color: $colorprimary;
        }
      }
    }
  }
}

.wp-block-button {

  display: inline-block;
  border-radius: 1.55em;
  transition: background-color ease .3s;

  &:hover {
    background-color: #fff;
  }

  a {
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 5px;
    transition: background-color ease .3s, color ease .3s;
    background-color: transparent;
    font-size: 2rem;
  }

  &.is-style-primary {
    border: 2px solid $colorprimary;
    background-color: $colorprimary;

    a {
      color: #fff;
    }

    &:hover {
      background-color: #fff;
      
      a {
        color: $colorprimary;
      }
    }
  }

  &.is-style-secondary {
    border: 2px solid $colorsecondary;
    background-color: $colorsecondary;

    a {
      color: #000;
    }

    &:hover {
      background-color: #fff;
      
      a {
        color: $colorsecondary;
      }
    }
  }

  &.is-style-tertiary {
    border: 2px solid $colortertiary;
    background-color: $colortertiary;

    a {
      color: #fff;
    }

    &:hover {
      background-color: #fff;
      
      a {
        color: $colortertiary;
      }
    }
  }
}

.circle-image {

  border-radius: 50%;
  overflow: hidden;
}

.iframe_container {
  width: 100%;
  overflow: hidden;
  height: 0;
  position: relative;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  &--16-9 {
    padding-bottom: 56.25%;
  }
}

.wp-block-embed {

  &.is-type-video {

    &.wp-embed-aspect-16-9 {

      .wp-block-embed__wrapper {
        position: relative;
        height: 0;
        padding-bottom: 56.25%;
  
        iframe {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }
  }
}

.latest-posts {

  &_post-type {

    &_wrapper {
      margin-top: 0;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      padding: 0;
      margin-left: -2rem;
      margin-right: -2rem;
    }

    &_post {

      p {
        font-size: 14px;
      }

      & > * {
        margin-top: 4rem;
        margin-bottom: 0;

        &:first-child {
          margin-top: 0;
        }
      }

      &_wrapper {
        padding-left: 2rem;
        padding-right: 2rem;

        @media screen and (max-width: map-get($breakpoints, 'tablet')) {
          width: 50% !important;
        }

        @media screen and (max-width: map-get($breakpoints, 'phone')) {
          width: 100% !important;
        }

        &.per-row-2 {
          width: 50%;
        }

        &.per-row-3 {
          width: calc(100%/3);
        }

        &.per-row-4 {
          width: 25%;
        }

        &.per-row-5 {
          width: 20%;
        }
      }

      &_container {
        padding: 2rem;
        box-shadow: 2px 2px 5px $colorgreylight;
        margin-top: 4rem;
      }

      &_image {
        border-radius: 100%;
        overflow: hidden;

        img {
          height: auto;
        }
      }
    }
  }
}

.basic-modal {

  &_wrapper.save {
    margin-top: 0;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(110%);
    z-index: 5000;
    transition: transform ease .3s;
    width: 100%;
    height: 100%;
    display: flex;
    overflow-Y: scroll;
    align-items: center;
    justify-content: center;
    background-color: #fff;

    &.show {
      transform: translateX(0);
    }
  }

  &_container {
    max-width: 1160px;
    height: 100%;
    box-shadow: 0px 1px 7px #ebebeb;
  }

  &_content {
    padding: 2rem;
  }

  &_close {
    margin-bottom: 4rem;
  }
}
