.button {

  &_container {

    display: inline-block;
    border-radius: 5px;

    a {
      text-decoration: none;
      padding: 1.5rem 4rem;
      display: inline-block;
      border-radius: 5px;
      transition: background-color ease .3s, color ease .3s;
    }

    &--color-primary {
      border: 2px solid $colorprimary;

      a {
        background-color: $colorprimary;
        color: #fff;

        &:hover {
          background-color: #fff;
          color: $colorprimary;
        }
      }
    }
  }
}

.wp-block-button {

  display: inline-block;
  border-radius: 5px;

  a {
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 5px;
    transition: background-color ease .3s, color ease .3s;
  }

  &.is-style-primary {
    border: 2px solid $colorprimary;

    a {
      background-color: $colorprimary;
      color: #fff;
      font-size: 2rem;

      &:hover {
        background-color: #fff;
        color: $colorprimary;
      }
    }
  }

  &.is-style-secondary {
    border: 2px solid $colorsecondary;

    a {
      background-color: $colorsecondary;
      color: #fff;
      font-size: 2rem;

      &:hover {
        background-color: #fff;
        color: $colorsecondary;
      }
    }
  }
}

.circle-image {

  border-radius: 50%;
  overflow: hidden;
}

.iframe_container {
  width: 100%;
  overflow: hidden;
  height: 0;
  position: relative;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  &--16-9 {
    padding-bottom: 56.25%;
  }
}

